<div class="home_paragraph_container">
<p>_____________________________________________</p>
<p>What's this you ask?</p>
<p>GETime is a punch clock for employees to keep track of their hours.</p>

<p>_____________________________________________</p>
<p>How does it work?</p>
<p>It's pretty simple really. Start with clicking login above. From there login or create a new account. Your account page lets you clock in/out, and will display previous sessions as well. Settings will let you change your account information, and Employees will show you a list of your coworkers. You can't view their hours though.</p>

<p>_____________________________________________</p>
<p>Who can view hours?</p>
<p>Managers of course. Those with manager status can update times of employees in case of errors. You'll be notified of a change by an arrow below the affected timesheet which shows when and by whom.</p>

<p>_____________________________________________
	<p>GETime coded by Daniel Yoachim</p>
	<p>The code for GETime can be found at https://github.com/dyoachim/GE_employee_hours</p>
</div>