

<div class="home_paragraph_container">
	<p>GETime is an open source employee hours tracking web application. The code is available at <a href="http://github.com/dyoachim/GE_employee_hours">github.com/dyoachim/GE_employee_hours</a>.</p>

	<p>After an employee creates a login account with password, they are able to clock in, clock out, and view their own records. An employee is unable to view the records of other employees.<p>

	<p>Managers have permission to see their own records, as well as the records of any employee. A manager also has the power to delete an employee from the database, which will also erase time records. For information on updating an employee to manager status, please refer to the ReadMe. A manager cannot delete itself.<p>
</div>