h1 {
	text-align: center;
}

.log_in_container {
	margin: 0 auto;
	width: 400px;
}

.edit_info_container {
	margin: 0 auto;
	width: 400px;
}

.user_info_container {
	margin: 0 auto;
	width: 400px;
	text-align: center;
}

.links_container {
	text-align: center;
}

.timesheet_container {
	margin: 0 auto;
	width: 600px;
	text-align: center;
	font-size: 18px;
}

.employees_container {
	margin: 0px auto;
	width:66.6%;
}

#employees_list {
	list-style: none;
}

.employees_display {
	font-size: 18px;
	display: table;
	list-style: none;
}

.timesheet_display span {
	display: inline;
	margin: 0 auto;
	width: 600px;
	text-align: center;
	margin: 0px 12px;
	border-radius: 8px;
	border-style: solid;
	font-size: 20px;
	padding: 15px 0px 15px;
	display: table;
}

.pagination {
	clear:both;
	text-decoration: none;
	background-color: #ffffff;
	margin:0px;
	padding-bottom:20px;
	font-size:18px;
	text-align:center;
}

section {
	-moz-box-sizing:border-box;
	-webkit-bot-sizing:border-box;
	box-sizing:border-box; /*sets max width, accomodates padding, old style from IE*/
	padding:15px;
}